---
ip: "192.168.10.10"
memory: 2048
cpus: 2
provider: virtualbox

authorize: ~/.ssh/id_ed25519.pub

keys:
  - ~/.ssh/id_ed25519

folders:
  - map: d:/dev/code/_public
    to: /home/vagrant/code/_public

  - map: d:/dev/code/homestead
    to: /home/vagrant/code/homestead

sites:
  - map: homestead.test
    to: /home/vagrant/code/homestead/public

databases:
  - homestead

backup: true

features:
  - mysql: true
  - mariadb: false
  - postgresql: false
  - ohmyzsh: false
  - webdriver: false
  - influxdb: false

services:
  - enabled:
    - "mysql"

ports:
  - send: 5173 # for vite server
    to: 5173
#   - send: 33060 # MySQL/MariaDB
#     to: 3306
#   - send: 4040
#     to: 4040
#   - send: 54320 # PostgreSQL
#     to: 5432
#   - send: 8025 # Mailpit
#     to: 8025
#   - send: 9600
#     to: 9600
#   - send: 27017
#     to: 27017
